   
        html, body {
        height: 100%;
        min-height: 100%;
        }

        body {
        font: 15px arial;
        /*color: rgba(0, 0, 0, .7);*/
        background-color: #03BB85; /* For browsers that do not support gradients */
        /*background-image: radial-gradient(#00008B, #05011C); /* Standard syntax (must be last) */
       
        }

        img {
                width: 80%; 
                height: auto;
        }
        .wrapper {
        height: 100%;
        min-height: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        }

      